// Patterns
.nomp{
  margin:0;
  padding:0;
}

.noli{
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

.left{
  float:left;
}

.right{
  float:right;
}

.di{
  display:inline-block;
  *zoom:1;
}

.dib{
  *zoom:1;
  *display:inline;
  display:inline-block;
}

.up{
  text-transform: uppercase;
}

.nodeco{
 text-decoration: none;
}

.border-radius(@value){
    -webkit-border-radius: @value;
    -moz-border-radius: @value;
    border-radius: @value;
}
